.account-details{
    .account-data{
        .row{
            .col-md-6{
                p{
                    font-size: 18px;
                    font-weight: 700;
                }
                ._rental_places{
                    h4{
                        font-weight: 700;
                    }
                    ._grp{
                        display: flex;
                        margin-top: 20px;
                        align-items: center;
                        p{
                            margin: 0;
                        }
                        button{
                            width: 50px;
                            padding: 5px;
                            background-color: #457e8a;
                            border: none;
                            border-radius: 10px;
                            cursor: pointer;
                            color: #fff;
                            box-shadow: -2px 5px #cccc;
                            margin-left: 25px;
                        }
                    }
                }
            }
         
        }
    }
}